.pokemon-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: flex-start;
  width: 250px;

  &__image {
    flex-shrink: 0;
    height: 250px;
    object-fit: contain;
    width: 100%;
  }

  &__button {
    background: white;
    border: 2px solid #f4dc26;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    color: #374151;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
    margin: 4px 0 16px;
    padding: 12px 0;
    transition: all 0.2s ease-in-out;
    width: 160px;

    &:hover:not(:disabled) {
      box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
      transform: scale(1.05);
    }

    &:disabled {
      background: #e5e7eb;
      border-color: #e5e7eb;
      color: #9ca3af;
      cursor: not-allowed;
    }
  }

  &__name {
    color: #1f2937;
    flex-shrink: 0;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 8px 0;
    text-align: left;
    width: 100%;
  }

  &__info {
    color: #4b5563;
    flex: 1;
    font-size: 0.8rem;
    overflow: hidden auto;
    text-align: left;
    width: 100%;
  }

  &__text {
    margin-bottom: 4px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
