.home {
  padding: 64px;

  &__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 24px;

    @media (max-width: 768px) {
      gap: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: calc(100% - 500px);
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 100%;
    }
  }
}
