.cart-sidebar {
  background: white;
  border-radius: 8px;
  box-shadow: -2px 0 8px rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 24px;
  position: fixed;
  right: 64px;
  top: 64px;
  width: 400px;
  z-index: 1;

  @media (max-width: 768px) {
    height: 240px;
    inset: auto 0 0 20px;
    padding: 16px;
    width: calc(100% - 72px);
  }

  &__background {
    height: 100%;
    inset: 0;
    object-fit: cover;
    object-position: center;
    opacity: 0.1;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;

    @media (max-width: 768px) {
      font-size: 20px;
      margin-bottom: 16px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
  }

  &__item {
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    padding: 12px 0;

    &:last-child {
      border-bottom: none;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__info {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__x {
    color: #f4dc25;
    font-size: 20px;
    margin-right: 4px;
  }

  &__name {
    font-size: 16px;
    font-weight: 500;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &__characteristic {
    color: #4b5563;
    font-size: 14px;
    margin-top: 4px;
    padding-left: 40px;

    @media (max-width: 768px) {
      font-size: 12px;
      padding-left: 30px;
    }
  }

  &__remove-button {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 100%;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    height: 24px;
    width: 24px;

    &:hover {
      border-color: #f4dc25;
      box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
      transform: translateY(-1px);
    }
  }

  &__footer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: auto;
  }

  &__footer-button {
    background-color: #f4dc25;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    color: #374151;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 0;
    transition: all 0.2s ease-in-out;
    width: 100%;

    &:hover:not(:disabled) {
      box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
      transform: scale(1.01);
    }

    &:disabled {
      background: #e5e7eb;
      color: #9ca3af;
      cursor: not-allowed;
    }

    @media (max-width: 768px) {
      font-size: 14px;
      padding: 10px 0;
    }
  }
}
